<p>{{chart.name}}</p>
<p>{{chart.birthDate}}</p>
<p>{{chart.birthPlace}}</p>
<p>{{chart.birthTime}}</p>
{{> birthchart}}


<div class='row mt-4'>
  <div class='col-md-5'>
  <h3>Create a New Chart:</h3>

    <form class='form new-chart-form'>
      <div class='form-group'>
        <label for='chart-name'>Name:</label>
        <input
          class='form-input'
          type='text'
          id='chart-name'
          name='chart-name'
        />
      </div>
      <div class='form-group'>
        <label for='date-birth'>Date of Birth:</label>
        <input
          class='form-input'
          type='date'
          id='date-birth'
          name='date-birth'
        />
      </div>
      <div class='form-group'>
        <label for='place-birth'>Place of Birth:</label>
        <textarea
          class='form-input'
          id='place-birth'
          name='place-birth'
        ></textarea>
      </div>
      <div class='form-group'>
        <label for='time-birth'>Time of Birth:</label>
        <input type="time" id="time-birth"/>
      </div>
      <div class='form-group'>
        <button type='submit' class='btn btn-primary'>Create Chart</button>
      </div>
    </form>
  </div>

  {{#if charts.length}}
    <div class='col-md-6 chart-list'>
      <h3>Current Chart:</h3>

      {{#each charts as |chart|}}
        <div class='row mb-2'>
          <div class='col-md-8'>
            <h4><a href='/charts/{{chart.id}}'>{{chart.name}}</a></h4>
          </div>
          <div class='col-md-4'>
            <button
              class='btn btn-sm btn-danger'
              data-id='{{chart.id}}'
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
{{> birthchart}}

<script src='/js/profile.js'></script>